h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;
}
a{
  color:  #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.top-container {
  background-color: #FFE3E1;
  position: relative;
  padding-top: 100px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.unicorn{
  width: 30%;
  height: 30%;
}

.profile{
  text-align: center;
  width: 30%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

hr{
  width: 5%;
  color:#FFE3E1;
  border-style: dotted;
  border-left: 0;
  border-right:0;
  border-bottom: 0;
  border-width: 7px;
}

.photography{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.psychology{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.contact-me{
  text-align: center;
  margin: 100px auto 100px auto;
  line-height: 2;
  width: 50%;
}
.button{
  border-radius: 8px;
  padding: 15px;
  background-image: linear-gradient(45deg,#FF9494,#FFE3E1,#FF9494);
  border-style: none;
  margin-top: 30px;
}
.btn{
  color:white;
}
.bottom-container{
  background-color: #FF9494;
  text-align: center;
  padding: 50px 0 50px 0;
  width:100%;
}
.footer-link{
  margin:auto 10px auto 10px;
}
.footer{
  color:#EAF6F6;
}
